<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/products.css" />
  <link rel="icon" type="image/png" href="/img/setting.webp" />
  <title>Beauty_admin</title>
  <script type="text/javascript" src="/js/products.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <main class="table" id="customers_table">
    <section class="table__header">
      <div class="export_file">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/admin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/product/all">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/user/all">Users</a>
          </li>
          <li class="nav-item" onclick="return confirm('Do you want to logout?')">
            <a class="nav-link" href="/admin/logout">Logout</a>
          </li>
        </ul>
      </div>
      <div class="input-group">
        <input type="search" placeholder="Search Data...">
        <img src="/img/userImages/search.png" alt="">
      </div>
      <div class="">
        <button class="create-btn" id="toggleFormBtn"> Create </button>
      </div>
      <div class="export__file">
        <label for="export-file" class="export__file-btn" title="Export File"></label>
        <input type="checkbox" id="export-file">
        <div class="export__file-options">
          <label>Export As &nbsp; &#10140;</label>
          <label for="export-file" id="toJSON">JSON<img src="/img/userImages/json.png" alt=""></label>
          <label for="export-file" id="toCSV">CSV<img src="/img/userImages/csv.png" alt=""></label>
          <label for="export-file" id="toEXCEL">EXCEL<img src="/img/userImages/excel.png" alt=""></label>
          <label for="export-file" id="toPDF">PDF<img src="/img/userImages/pdf.png" alt=""></label>
        </div>
      </div>
    </section>
    <section class="table__body">
      <table>
        <thead>
          <tr>
            <th> No <span class="icon-arrow">&UpArrow;</span></th>
            <th> Image <span class="icon-arrow">&UpArrow;</span></th>
            <th> Product <span class="icon-arrow">&UpArrow;</span></th>
            <th> Category <span class="icon-arrow">&UpArrow;</span></th>
            <th> Left <span class="icon-arrow">&UpArrow;</span></th>
            <th> Status <span class="icon-arrow">&UpArrow;</span></th>
            <th> Price <span class="icon-arrow">&UpArrow;</span></th>
          </tr>
        </thead>
        <tbody>
          <% products.map((val, key)=> {%>
            <tr>
              <td id="<%= val._id%>">
                <%= key +1 %>
              </td>
              <td>
                <img src="/<%= val.productImages[0]%>" alt="">
              </td>
              <td>
                <%= val.productName%>
              </td>
              <td>
                <%=val.productCategory %>
              </td>
              <td>
                <%= val.productLeftCount %>
              </td>
              <td>
                <select class="status-active <%= val.productStatus %>" id="<%= val._id %>">
                  <option value="ACTIVE" <%= val.productStatus === "ACTIVE" ? 'selected' : '' %>>ACTIVE</option>
                  <option value="PENDING" <%= val.productStatus === "PENDING" ? 'selected' : '' %>>PENDING</option>
                  <option value="OUTOFSTOCK" <%= val.productStatus === "OUTOFSTOCK" ? 'selected' : '' %>>OUTOFSTOCK</option>
                </select>
              </td>
              <td>
                $<%= val.productPrice%>
              </td>
            </tr>
            <% })%>
        </tbody>
      </table>
    </section>
  </main>
</body>
<%- include('includes/footer') %>

</html>
